<span *ngIf="!productForm.valid">
 {{ productForm.controls['title'].errors | json }}
</span>
<form [formGroup]="productForm" class="example-form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="name..." name="title" formControlName="title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput placeholder="price..." name="price" formControlName="price">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="!productForm.valid">Submit</button>
</form>